{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}">
</head>
<body>
    <footer class="footer">
        <p>&copy; 2025 MAI. Todos los derechos reservados.</p>
        <nav class="footer-nav">
            <ul class="footer-links">
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Nosotros</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </nav>
    </footer>
</body>
</html>